body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  color: antiquewhite;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 900;
}

p {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 800;
  color: lime;
}

input {
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 4px;
  width: 280px;
  height: 30px;
  cursor: pointer;
}

button {
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 600;
  background-color: #efca00;
  border: none;
  cursor: pointer;
  border-radius: 9px;
}

h2 {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 900;
}

img {
  position: static;
  margin-top: -445px;
  width: 100vw;
  height: 100vh;
}
